MONITOR_TARGET_URL=
CHECK_INTERVAL_SECONDS=
BETTERSTACK_API_KEY=
BETTERSTACK_MONITOR_ID=
EMAIL_PROVIDER=emailjs
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=
EMAIL_FROM=
EMAIL_TO=
